/* Enter your custom styles here */
#__xmlview0--sales-titleText {
    font-size: 27px;
}
div#__xmlview0--border{
	border-bottom: solid #e5e5e5;
}
.sm{
	font-size : 19px;
}
.text{
	border-bottom: solid #e5e5e5;
	 border-left: 20px;
}
.border{
	border-bottom: 1px solid #e5e5e5;
}

.sapMPanelContent {
    padding: 0rem !important;
    box-sizing: border-box;
    overflow: auto;
    white-space: normal;
}